[submodule "python-sdk"]
	path = modules/python-sdk
	url = https://github.com/modelcontextprotocol/python-sdk
	branch = main
[submodule "tree-sitter"]
	path = modules/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
	branch = master
[submodule "modules/gorgonzola"]
	path = modules/gorgonzola
	url = https://github.com/lechibang-1512/gorgonzola
[submodule "modules/py-tree-sitter"]
	path = modules/py-tree-sitter
	url = https://github.com/tree-sitter/py-tree-sitter
